* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
    background-color: rgb(255,234,233);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar nav {
    flex: 1;
    text-align: right;
}

.navbar nav ul {
    display: inline-block;
    list-style-type: none;
}

.navbar nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #555;
}

header {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

button {
    height: 35px;
    width: 130px;
    border: 1px transparent;
    border-radius: 20px;
    background-color: rgb(222,84,50);
    color: #fff;
}
